body {
    background-color: #F6EDDD;
    color: #112441;
    font-style: "Roboto", "sans-serif";
}

header {
    background-color: #112441;
    color: white;
    text-align: center;
    padding: 40px;
    font-size: 300%;
    border-style: solid;
    border-bottom-width: 20px;
    border-color: white;
}

.main {
    text-align: center;
}